@use "../helpers" as *;


.all-books-container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &__banner-wrapper {
        max-height: rem(400);
        overflow: hidden;
    }

    &__section {
        display: flex;
        
    }

}