@use "../helpers" as *;


.author {
    &__title {
        font-weight: 700;
        margin-block: 2%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: -10%;
    }
}

.author-books {
    background-color: var(--color-light);
    border-radius: 0 rem(10) rem(10) 0;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    align-self: flex-start;
    border-left: rem(1) solid var(--color-gray-50);
    position: relative;

    &__loading-card {
        background-color: red;
        width: 100%;
        height: rem(200);
        display: grid;
        flex-direction: column;
        gap: rem(1);
    }
    
    &__filters {
        display: flex;
        align-items: center;
        gap: 1%;

        &-filter {
            background-color: var(--color-pink-10);
            color: var(--color-light);
            font-size: rem(14);
            font-weight: 500;
            padding-inline: 1%;
            padding-block: 0.5%;
            border-radius: rem(10);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: rem(8);
        }

        &-clear-all {
            background-color: transparent;
            border: none;
            font-size: rem(14);
            font-weight: 500;
            color: var(--color-blue-10);
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__filters,
    &__header {
        border-bottom: rem(1) solid var(--color-gray-50);
        padding: 2%;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &-text {
            display: flex;
            align-items: center;
            gap: rem(15);
        }
    }

    &__category {
        @include fluid-text(22, 16);
    }

    &__book-count {
        @include fluid-text(18, 14);
        color: var(--color-gray-30);
        font-weight: 500;
    }

    &__count {
        @include fluid-text(20, 16);
    }

    &__select {
        font-size: rem(14);
        display: flex;
        align-items: center;
        gap: rem(7);
        cursor: pointer;
        border: rem(1) solid var(--color-gray-40);
        border-radius: rem(10);
        padding-inline: 1%;
        position: relative;

        & img {
            width: rem(12);
            height: rem(12);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 2%;
    }

    &__title {
        @include fluid-text(16, 14);
    }

    &__books-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
    }

    &__book {
        display: grid;
        flex-direction: column;
        gap: 1%;
    }

    &__author {
        font-size: rem(14);
        color: var(--color-gray-30);
        font-weight: 500;
    }

    &__price {
        @include fluid-text(16, 14);
        color: var(--color-blue-10);
    }

    &__delivery-time {
        font-size: rem(14);
        display: flex;
        gap: rem(2);
        font-weight: 500;

        &.green-time {
            color: var(--color-green-10);

            & img {
                filter: invert(35%) sepia(97%) saturate(546%) hue-rotate(124deg) brightness(90%) contrast(87%);
            }
        }


        & img {
            width: rem(15);
        }
    }

    &__bottom-section {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        gap: rem(25);
    }

    &__show-more {
       width: 25%;
       margin: 0 auto;
       background-color: var(--color-gray-40);
       border: none;
       font-size: rem(14);
       font-weight: 500;
       color: var(--color-gray-10);
       padding-block: 1%;
       border-radius: rem(7);
       border: rem(1) solid transparent;

       &:hover {
        border-color: var(--color-gray-20);
       }
    }

    &__section-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pagination-arrow {
        background-color: var(--color-gray-40);
        border: rem(1) solid transparent;
        padding-inline: 2.5%;
        padding-block: 1.5%;
        border-radius: rem(50);

        & img {
            width: fluid(20, 15);
        }

        &.disabled-btn {
            cursor: auto;

            & img {
                filter: invert(100%);
            }
        }

        &:not(.disabled-btn) {
            &:hover {
                border-color: var(--color-gray-20);
            }
        }
    }

    &__page-numbers {
        display: flex;
        align-items: center;
        gap: rem(15);
    }

    &__page-num {
        font-size: rem(14);
        width: rem(40);
        height: rem(40);
        border-radius: rem(50);
        border: rem(1) solid var(--color-gray-40);
        color: var(--color-gray-10);
        font-weight: 500;

        &:not(.active) {
            background-color: var(--color-light);
        }

        &:hover {
            border-color: var(--color-gray-30);
        }
    }
}