@use '../helpers' as *;

.author {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 2%;

    &__flex-container {
      display: flex;
      margin-top: -1%;
    }

    &__big-image-wrapper {
      width: rem(250);
      height: rem(350);
      overflow: hidden;
    }

    &__big-image {
      min-height: rem(350);
      min-width: rem(250);
      object-fit: cover;
    }
}