@use "../helpers" as *;

.badge {
    
    font-size: rem(12) !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-inline: rem(5) !important;
    padding-inline: 10%; 
    font-weight: 500 !important;
    border-radius: rem(5);
    text-align: center;
}