@use "../helpers" as *;

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--color-light);
    border-radius: rem(20);
    padding: 1.5%;
    
    &.bigger {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }

    &__viewport {
        overflow: hidden;
        width: 100%;
    }

    &__track {
        display: flex;
        gap: rem(16);
        will-change: transform;
    }

    &__image {
        display: block;
        flex-shrink: 0;
        flex-basis: calc((100% - (2 * rem(16))) / 3);

        .banner.bigger & {
            flex-basis: calc((100% - (3 * rem(16))) / 4);
        }

        & img {
            border-radius: rem(20);
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        height: rem(90);
        width: rem(80);
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        justify-content: center;
        border-radius: rem(15);

        &.prev-btn {
            left: 0;
            transform: translateY(-50%) rotate(90deg);
            z-index: 999;

            & img {
                width: rem(25);
            }
        }

        &.next-btn {
            right: 0;
            transform: translateY(-50%) rotate(270deg);

            & img {
                width: rem(25);
            }
        }
    }
}