@use "../helpers" as *;

.bonus-info {
    position: absolute;
    background-color: var(--color-light);
    border-radius: rem(10);
    padding: 2%;
    z-index: 990;
    bottom: 90%;
    left: 14%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    box-shadow: -3px 2px 13px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 2px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 2px 13px -2px rgba(0,0,0,0.75);

    &::after {
        content: "";
        position: absolute;
        bottom: -rem(10);
        left: 50%;
        bottom: -5%;
        transform: translateX(-50%);

        width: 0;
        height: 0;
        border-left: rem(10) solid transparent;
        border-radius: rem(10) solid transparent;
        border-top: rem(10) solid var(--color-light);
    }

    &__text {
        font-size: rem(14);
        font-weight: 500;
        width: 100%;

        &-link {
            color: var(--color-blue-10);
            font-weight: 600;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}