@use "../helpers" as *;

.info-badge {
    font-size: rem(14);
    font-weight: 600;
    background-color: var(--color-gray-40);
    border-radius: rem(10);
    color: var(--color-blue-10);
    padding-block: 2%;
    padding-inline: 7%;

    & img {
        filter: invert(20%);
        width: rem(25);
        height: rem(25);
    }
}