@use "../helpers" as *;

.categories {
    display: grid;
    flex-direction: column;
    gap: rem(25);
}

.book {
    &__title {
        font-weight: 600;
        font-size: rem(24);
        margin-bottom: 2%;
    }
}

.books-container {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    background-color: var(--color-light);
    border-radius: rem(5);
    position: relative;

    &__header {
        border-bottom: rem(1) solid var(--color-gray-50);
        padding: 1% 2%;
        display: flex;
        align-items: center;
        gap: 2%;
        margin-bottom: -1%;
    }

    &__title {
        &-link {
            font-size: rem(14);
            font-weight: 500;
            background-color: var(--color-gray-40);
            padding: rem(3);
            padding-inline: rem(7);
            border-radius: rem(10);

            & span {
                display: flex;
                align-items: center;
                gap: rem(2);
            }

            & img {
                rotate: 270deg;
            }
        }
    }

    &__slider {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__btn {
        position: absolute;
        top: 30%;
        height: rem(90);
        width: rem(80);
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        justify-content: center;
        border-radius: rem(15);
        z-index: 999;

        &.container-slider-btn {
            top: 4.5% !important;
            transform: translateY(-50%);
            padding: rem(5);
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            width: rem(70);
            height: rem(70);
        }

        &.prev-btn {
            left: 0;
            transform: translateY(-50%) rotate(90deg);

            & img {
                width: rem(25);
            }
        }

        &.next-btn {
            right: 1.3%;
            transform: translateY(-50%) rotate(270deg);

            & img {
                width: rem(25);
            }
        }
    }

    &__badge {
        @include fluid-text(16, 14);

        font-weight: 500;
        background-color: var(--color-red-10);
        display: flex;
        flex-direction: row;
        gap: rem(12);
        width: fluid(200, 160);
        color: var(--color-light);
        padding: rem(10);
        align-items: center;
        padding-inline: 1%;
        border-radius: 0 rem(50) rem(50) 0;

        &.pink-badge {
            background-color: var(--color-pink-10);
            width: fluid(220, 180);
        }

        &.blue-badge {
            background-color: var(--color-blue-10);
            width: fluid(340, 300);
        }

        &.small-badge {
            width: fluid(200, 180);
        }

        &.wider {
            width: 38%;
        }
    }

    & .book-slider {
        display: flex;
        position: relative;
        overflow-x: auto;
        width: 100%;
        transition: transform 0.4s ease-in-out;
        padding-inline: 2%;
        gap: 1%;
        padding-top: 0;
        align-items: flex-start;
        position: relative;
        margin: auto;
        padding-bottom: 1.5%;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__book-info {
            width: 16%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 0;
        }

        &__wrapper {
            height: rem(30);
        }

        &__book {
            display: flex;
            flex-direction: column;
            width: 19.5%;
            flex-shrink: 0;
            gap: rem(5);
            height: 100%;
            justify-content: flex-end;

            &-image {
                object-fit: cover;
                height: rem(300);
            }
        }

        &__title {
            @include fluid-text(18, 14);
        }

        &__author {
            @include fluid-text(16, 14);
            color: var(--color-gray-20);
            font-weight: 500;
        }

        &__price {
            @include fluid-text(18, 14);
            color: var(--color-blue-20);
        }

        &__delivery-time {
            @include fluid-text(16, 14);
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 2%;
            color: var(--color-pink-10);

            &.orange-time {
                color: var(--color-orange-10);

                & img {
                    filter: invert(34%) sepia(81%) saturate(697%) hue-rotate(340deg) brightness(97%) contrast(94%);
                }
            }

            &.green-time {
                color: var(--color-green-10);

                & img {
                    filter: invert(35%) sepia(97%) saturate(546%) hue-rotate(124deg) brightness(90%) contrast(87%);
                }
            }

            & img {
                filter: invert(70%) sepia(86%) saturate(7357%) hue-rotate(291deg) brightness(110%) contrast(90%);
            }
        }

        &__order-btn {
            @include fluid-text(16, 14);
            background-color: var(--color-blue-20);
            border: none;
            color: var(--color-light);
            border-radius: rem(10);
            padding-block: 4%;
            width: 90%;
            font-weight: 500;

            &.orange-btn {
                background-color: var(--color-orange-10);
            }
        }
    }

    & .container-slider {
        gap: 4%;
        align-items: start;
        height: rem(480);
        overflow: hidden;

        &__book {
            border: rem(1) solid var(--color-gray-40);
            flex: 0 0 22%;
            box-sizing: border-box;
            transition: transform 0.3s ease-in-out;
            
            & img {
                object-fit: contain;
            }
        }
    }

    &__more-books {

        position: absolute;
        bottom: 1%;
        font-size: rem(16);
        color: var(--color-gray-20);
        font-weight: 500;
        margin-left: 2%;
        display: flex;
        gap: rem(7);

        &:hover {
            color: var(--color-gray-10);
        }

        & img {
            width: rem(15);
            transform: rotate(270deg);
        }
    }
}