@use "../helpers" as *;

.book-category {
    padding: 2%;
    display: flex; 
    flex-direction: column;
    gap: rem(20);
    position: relative;

    &__header {
        display: flex;
        flex-direction: column;
        gap: rem(1);
        font-size: rem(14);
    }

    &__books-link {
        color: var(--color-gray-30);
        font-weight: 500;
    }

    &__title {
        font-size: rem(22);
        font-weight: 600;
    }

    &__container {
        display: flex;
        align-items: start;
        gap: 0%;
    }

    &__book-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(30);
    }
}

.subcategory {
    &__title {
        font-size: rem(14);
        font-weight: 600;
        color: var(--color-gray-30);
        text-align: left;
    }
}

.books-container__btn {
    &.category-btn {
        top: 11%;
        left: 2%;

        &.next-btn {
            left: 94%;
        }
    }

    &.banners-btn {
        top: 50%;
        left: 0.5%;

        &.next-btn {
            left: 94%;
        }
    }
}