@use "../helpers" as *;

.book {
    &__list {
        list-style-type: disc;
        margin-left: 5%;
        margin-bottom: 2%;
    }
}

.book-container {
    padding: 2%;
    background-color: var(--color-light);
    display: flex;
    align-items: start;
    gap: 5%;
    width: 100%;
    font-family: "Montserrat", "Montserrat Fallback";

    &__big-image {
        width: rem(250) !important;
        height: rem(300);
        object-fit: contain;  
        object-position: center;
        cursor: pointer;
    }

    &__authors-block {
        display: flex;
        align-items: center;
        gap: rem(5);
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: rem(10);

        &.center-section {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: rem(20);
        };

        &.right-section {
            width: 25%;
        }
    }

    &__btns-section {
        display: flex;
        align-items: center;
        gap: rem(10);
    }

    &__header-btn {
        height: rem(50);
        background-color: var(--color-gray-40);
        border: rem(1) solid var(--color-gray-50);
        padding-inline: 7%;
        border-radius: rem(10);
        transition: all 0.3s ease;

        & svg {
            margin-top: rem(5);
        }

        &.add-to-fav {
            &.added-btn {
                background-color: var(--color-blue-10);
                border-color: var(--color-blue-10);
                
                & svg {
                    filter: invert(1);
                }
            }
        }

        &:hover {
            opacity: 0.8;
        }

        &.read-part {
            display: flex;
            align-items: center;
            gap: rem(8);
            font-weight: 600;
            color: var(--color-blue-10);
            font-size: rem(14);
        }
    }

    &__images-carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: rem(11);
    }

    &__slider-btn {
        position: absolute;
        top: 33%;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        height: rem(80);
        width: rem(40);
        border-radius: rem(10);
        left: -2%;
        transition: all 0.3s ease;

        &.next-btn {
            left: 85%;

            & img {
                transform: rotate(270deg);
            }
        }

        &.author-btn {
            left: 77%;
        }

        &:hover {
            background-color: var(--color-light);
        }


        & img {
            transform: rotate(90deg);
            margin-left: 10%;
            justify-content: center;
        }
    }

    &__rest-images {
        display: flex;
        align-items: center;
        gap: rem(10);
        width: rem(250);

        & img {
            border-radius: rem(10);
            cursor: pointer;
            max-height: rem(80);

            &.cur-img {
                border: rem(2) solid var(--color-black);
                border-radius: rem(10);
            }
        }
    }

    &__author-block {
        display: flex;
        flex-direction: column;
        gap: rem(1);
    }

    &__link {
        color: var(--color-blue-40);
        font-weight: 500;
        transition: all 0.3s ease;

        &.author-link {
            font-size: rem(14);
        }

        &.extended-link {
            color: var(--color-gray-30);
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__grades {
        display: flex;
        align-items: center;
        gap: rem(2);
    }

    &__desc-container {
        display: flex;
        flex-direction: column;
        gap: rem(3);
    }

    &__grade-count {
        font-size: rem(12);
        color: var(--color-gray-30);
        font-weight: 500;
        margin-left: rem(5);
    }

    &__code {
        font-size: rem(14);
        color: var(--color-gray-30);
        font-weight: 500;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: rem(7);

        &-title {
            font-weight: 600;
            font-size: rem(12);
        }

        &.price-block {
            display: flex;
            flex-direction: column;
            gap: rem(0);
        }

        &.publishing-block {
            width: 100%;
            font-size: rem(14);
        }
    }

    &__tiles-block {
        display: flex;
        align-items: center;
        gap: 10%;
        width: 100%;
        font-size: rem(14);
    }

    &__blocks {
        display: flex;
        align-items: center;
        gap: 12%;
        width: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        width: 50%;

        &-price-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: rem(5);
        }
    }

    &__text {
        font-size: rem(14);
        font-weight: 500;

        &.green-text {
            color: var(--color-green-10);
        }
    }

    &__table-info {
        display: flex;
        flex-direction: column;
    }

    &__rotated-img {
        transform: rotate(180deg);
    }

    &__show-all {
        width: max-content;
        border: none;
        background-color: transparent;
        font-size: rem(14);
        display: flex;
        align-items: center;
        padding: 0;
        gap: rem(5);
        font-weight: 600;
        margin-top: 2%;
        color: var(--color-gray-10);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: rem(12);
        font-size: rem(14);
        border-bottom: rem(1) solid var(--color-gray-50);
    }

    &__desc-container {
        font-size: rem(14);
        font-weight: 500;
    }

    &__cell {
        font-weight: 500;

        &.cell-title {
            color: var(--color-gray-30);
        }
    }

    &__author-desc {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: rem(5);
        justify-content: space-between;
    }

    &__author-image {
        & img {
            clip-path: circle();
        }
    }

    &__dot-separator {
        background-color: var(--color-black);
        width: rem(2);
        height: rem(2);
    }

    &__write-review {
        background-color: var(--color-blue-10);
        color: var(--color-light) !important;
    }

    &__reviews {
        display: flex;
        flex-direction: column;
        gap: rem(10);

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }
    }

    &__price-row {
        display: flex;
        align-items: center;
        gap: rem(5);   

        & h2 {
            font-weight: 600;
        }
    }

    &__in-stock-row {
        display: flex;
        align-items: center;
        gap: rem(5);
        font-size: rem(14);
    }

    &__book-status {
        display: flex;
        align-items: center;
        font-weight: 500;

        &.green-text {
            color: var(--color-green-10);
        }

        &.gray-text {
            color: var(--color-gray-30);
        }

        &.red-text {
            color: var(--color-red-10);
        }

        & img {
            background-color: transparent;
        }
    }
}