@use "../helpers" as *;

.categories {
    display: grid;
    flex-direction: column;
    gap: rem(25);
}

.book {
    &__title {
        font-weight: 600;
        font-size: rem(24);
        margin-bottom: 2%;
    }
}

.seen-books-book-slider > * {
    flex: 0 0 calc(100% / 4.9);
    max-width: calc(100% / 4.9);
}

.book-slider > * {
    scroll-snap-align: start;
}

.seen-books {
    margin-top: 1%;
    padding-inline: 2%;

    &-header {
        border-bottom: rem(1) solid var(--color-gray-50);
    }

    &-slider {
        padding-bottom: 2%;
    }

    &-btn {
        top: 35% !important;
        height: rem(60) !important; 
        background-color: var(--color-gray-40) !important;
    }

    &-prev {
        left: 2% !important;
    }

    &-next {
        right: 1% !important;
    }
}

.books-container {
    display: flex;
    background-color: var(--color-light);
    border-radius: rem(5);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &__header {
        display: flex;
        align-items: center;
        gap: rem(5);

        &-view-all {
            display: flex;
            align-items: center;
            gap: rem(5);
            font-size: rem(14);
            font-weight: 500;
            background-color: var(--color-gray-40);
            padding-inline: 2%;
            border-radius: rem(5);
            padding-block: 0.5%;
            
            & img {
                rotate: 270deg;
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__header {
        padding: 1% 2%;
        display: flex;
        align-items: center;
        gap: 2%;
        margin-bottom: -1%;
    }

    &__title {
        &-link {
            font-size: rem(14);
            font-weight: 500;
            background-color: var(--color-gray-40);
            padding: rem(3);
            padding-inline: rem(7);
            border-radius: rem(10);

            & span {
                display: flex;
                align-items: center;
                gap: rem(2);
            }

            & img {
                rotate: 270deg;
            }
        }
    }

    &__slider {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0;
        overflow: hidden;
        max-width: 100%;
        padding-bottom: 0;
    }

    &__btn {
        position: absolute;
        top: 30%;
        height: rem(90);
        width: rem(80);
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        justify-content: center;
        border-radius: rem(15);
        z-index: 999;

        &.container-slider-btn {
            transform: translateY(-50%);
            padding: rem(5);
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            width: rem(70);
            height: rem(70);
        }

        &.prev-btn {
            left: 0;
            transform: translateY(-50%) rotate(90deg);

            & img {
                width: rem(25);
            }
        }

        &.next-btn {
            right: 1.3%;
            transform: translateY(-50%) rotate(270deg);

            & img {
                width: rem(25);
            }
        }
    }

    &__badge {
        @include fluid-text(16, 14);

        font-weight: 500;
        background-color: var(--color-red-10);
        display: flex;
        flex-direction: row;
        gap: rem(12);
        width: fluid(200, 160);
        color: var(--color-light);
        padding: rem(10);
        align-items: center;
        padding-inline: 1%;
        border-radius: 0 rem(50) rem(50) 0;

        &.pink-badge {
            background-color: var(--color-pink-10);
            width: fluid(220, 180);
        }

        &.blue-badge {
            background-color: var(--color-blue-10);
            width: fluid(340, 300);
        }

        &.small-badge {
            width: fluid(200, 180);
        }

        &.wider {
            width: 38%;
        }
    }

    & .book-slider {
        display: flex;
        position: relative;
        overflow-x: hidden;
        width: 100%;
        transition: transform 0.4s ease-in-out;
        padding-inline: 0;
        padding-top: 0;
        align-items: flex-start;
        position: relative;
        margin: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    & .container-slider {
        align-items: start;
        height: rem(650);
        display: flex;
        overflow: hidden;

        &__book {
            border-top: rem(1) solid var(--color-gray-50);
            flex: 0 0 30%;
            box-sizing: border-box;
            transition: transform 0.3s ease-in-out;
            
            & img {
                object-fit: contain;
            }
        }
    }

    &__more-books {

        position: absolute;
        bottom: 1%;
        font-size: rem(16);
        color: var(--color-gray-20);
        font-weight: 500;
        margin-left: 2%;
        display: flex;
        gap: rem(7);

        &:hover {
            color: var(--color-gray-10);
        }

        & img {
            width: rem(15);
            transform: rotate(270deg);
        }
    }
}