@use "../helpers" as *;

.breadcrumbs {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: rem(5);

    &.small-text {
        font-size: rem(10) !important;
    }

    &__item {
        font-size: 12;
        font-weight: 600;
        color: var(--color-gray-30);
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(2);
    }
}