@use '../helpers' as *;

.buy-btn {
  width: 100%;
  display: flex;
  gap: rem(4);
  align-items: center;
  background-color: var(--color-red-10);
  border: none;
  color: var(--color-light);
  font-weight: 600;
  padding-block: 4%;
  border-radius: rem(10);
  justify-content: center;
  text-align: center;
  transition: all var(--transition-duration) ease;

  &.buy-btn-pink {
    background-color: var(--color-pink-10);
    width: 100%;
    padding-block: 4%;
    font-weight: 500;
    font-size: rem(14);
  }

  & img {
    filter: invert(1);
  }

  &:hover {
    opacity: 0.8;
  }
}
