@use "../helpers" as *;

.cart-content {
    right: 0;
    top: 0;
    overflow-y: auto;
    background-color: var(--color-gray-40);
    display: flex;
    flex-direction: column;
    gap: rem(4);
    width: rem(500);
    z-index: 900;

    & .cart-header {
        background-color: var(--color-light);
        display: flex;
        justify-content: space-between;
        padding-block: 2%;

        &__title {
            font-size: rem(14);
            font-weight: 600;
        }
    }

    & .cart-body {
        background-color: var(--color-gray-40);
        height: 100%;
        font-size: rem(14);

        &__text-container {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            padding: 2% 4%;
        }

        &__text-title {
            font-weight: 500;
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: rem(5);
            height: 100%;
            width: 100%;

            &-count {
                background-color: var(--color-light);
                padding-inline: 4%;
                padding-block: 2%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &__count {
            font-size: rem(12);
            color: var(--color-gray-30);
            font-weight: 500;
        }

        &__btn {
            background: transparent;
            border: none;
            font-size: rem(12);
            color: var(--color-gray-30);
            font-weight: 500;

            &.delete-item-btn {
                text-align: right;
            }
        }

        &__items-container {
            display: flex;
            flex-direction: column;
            gap: rem(5)
        }

        &__item-container {
            display: flex;
            align-items: start;
            justify-content: space-between;
            background-color: var(--color-light);
            padding: 2% 4%;
        }

        &__item-info {
            display: flex;
            align-items: start;
            gap: rem(10);
            width: 75%;
        }

        &__book-content {
            display: flex;
            flex-direction: column;
            gap: rem(1);
        }

        &__book-title {
            font-weight: 500;
        }

        &__author {
            color: var(--color-gray-30);
            font-weight: 500;
            font-size: rem(12);
        }

        &__price-row {
            display: flex;
            align-items: center;
            gap: rem(5);
        }

        &__price {
            font-size: rem(16);
            font-weight: 500;
            color: var(--color-blue-10);
        }

        &__book-format {
            color: var(--color-gray-30);
            font-weight: 500;
            font-size: rem(12);
        }

        &__in-stock-row {
            display: flex;
            align-items: center;
            gap: rem(6);
        }

        &__status {
            display: flex;
            align-items: center;
            gap: rem(1);

            &-text {
                font-size: rem(14);
                font-weight: 500;

                &.green-text {
                    color: var(--color-green-10);
                }
            }
        }

        &__text {
            font-size: rem(12);
            font-weight: 600;
            color: var(--color-gray-30);
        }

        &__code {
            font-weight: 500;
        }

        &__item-features {
            width: 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;
            gap: rem(25);
        }

        &__quantity {
            display: flex;
            align-items: center;
            gap: rem(7);

            &-feature {
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(25);
                height: rem(25);
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    color: var(--color-black);
                }
            }

            &-input {
                width: rem(40);
                height: rem(40);    
                background-color: var(--color-gray-40);
                border: rem(1) solid var(--color-gray-50);
                justify-content: center;
                border-radius: rem(10);
                text-align: center;
                outline: none;
                transition: all 0.2s ease;
                font-weight: 500;

                &:hover {
                    background-color: var(--color-light);
                    border-color: var(--color-pink-10);
                }
            }
        }

        &__minus {
            position: relative;
            width: rem(12);
            height: rem(2);
            border-radius: rem(2);
            background-color: var(--color-gray-30);
            transition: all 0.2s ease;
            
            &:hover {
                background-color: var(--color-black);
            }
        }

        &__plus {
            position: relative;
            width: rem(12);
            height: rem(12);
            transition: all 0.2s ease;

            &:hover {
                color: var(--color-black);
            }

            &::before {
                content: "";
                position: absolute;
                background-color: var(--color-gray-30);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: "";
                position: absolute;
                background-color: var(--color-gray-30);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                width: 100%;
                height: rem(2);
            }

            &::after {
                width: rem(2);
                height: 100%;
            }
        }

        &__bottom-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            background-color: var(--color-light);
        }

        &__bonuses {
            background-color: var(--color-gray-40);
            border-radius: rem(10);
            padding: 2%;
            margin-top: 1%;
            margin: 4%;

            &-container {
                display: flex;
                align-items: center;
                gap: rem(8);
                padding: 2%;
            }

            &-text {
                font-weight: 600;
                color: var(--color-blue-10);
            }

            &-highlighted {
                text-decoration: underline;
                text-decoration-style: dotted;
                text-decoration-color: var(--color-blue-10);
                cursor: pointer;
            }
        }

        &__footer {
            background-color: var(--color-gray-40);
            padding: 2% 4%;
            display: flex;
            flex-direction: column;
            gap: rem(15);
            position: relative;

            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-text {
                font-weight: 500;
                font-size: rem(16);

                &.bold-text {
                    font-weight: 600;
                    font-size: rem(20);
                }

                &-smaller {
                    display: flex;
                    align-items: center;
                    gap: rem(5);
                    font-weight: 600;
                    color: var(--color-gray-30);
                }

                &-image {
                    cursor: pointer;
                }

                &-bonuses {
                    color: var(--color-blue-20);
                    font-weight: 600;
                    font-size: rem(16);
                }
            }
        }

        &__submit-btn {
            background-color: var(--color-blue-20);
            border: none;
            color: var(--color-light);
            font-weight: 500;
            font-size: rem(14);
            border-radius: rem(10);
            padding-block: 3%;
            transition: all 0.3s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.dot-separator {
    width: rem(2);
    height: rem(2);
    background-color: var(--color-black);
    border-radius: 50%;
}