@use "../helpers" as *;

.cart-info {
    background-color: var(--color-light);
    border-radius: rem(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

    @include tablet {
        flex-direction: column;
        gap: 5%;
        align-items: start;
        justify-content: start;
        font-size: rem(14);
        font-weight: 500;
        width: 100%;
        position: relative;
    }

    @include mobile {
        display: none;
    }

    &__left-component {
        display: flex;
        align-items: start;
        gap: rem(10);
        width: 50%;

        @include tablet {
            width: 100%;
        }
    }

    &__bolder-text {
        font-weight: 600;
    }

    &__image-wrapper {
        background-color: var(--color-pink-10);
        padding: 1%;
        border-radius: rem(50);
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        gap: rem(2);

        @include laptop {
            font-size: rem(14);
            gap: rem(4);
        }
    }

    &__cart-header {
        font-weight: 500;
        font-size: rem(18);

        @include laptop {
            font-size: rem(16);
        }
    }

    &__cart-price {
        font-weight: 500;
        font-size: rem(14);
    }

    &__right-component {
        display: flex;
        align-items: start;
        gap: rem(5);
        font-size: rem(14);
        width: 20%;
        text-align: right;
        justify-content: right;

        @include tablet {
            width: 100%;
        }
    }

    &__order-btn {
        background-color: var(--color-pink-10);
        color: var(--color-light);
        font-weight: 500;
        border-radius: rem(10);
        width: rem(220);
        padding-block: 4%;
        text-align: center;
        justify-content: center;
        transition: all 0.3s ease;

        @include tablet {
            width: 100%;
            padding-block: 2%;
            font-weight: 600;
        }
    
        &:hover {
            opacity: 0.8;
        }
    }

    &__close-btn {
        background: transparent;
        border: none;
        margin-top: -2%;
        padding: 0;

        @include tablet {
            margin-top: 0;
            position: absolute;
            top: 0;
        }
    }
}