@use "../helpers" as *;


.checkout {
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    &__title {
        font-weight: 600;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: rem(5);
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        width: 75%;
    }

    &__form {
        background-color: var(--color-light);
        width: 100%;
        padding: 2%;
        border-radius: rem(10);
        display: flex;
        flex-direction: column;
        gap: rem(20);

        &-title {
            font-size: rem(18);
            font-weight: 600;
        }

        &-input {
            height: rem(45);
            width: 100%;
            border: rem(1) solid var(--color-gray-50);
            border-radius: rem(10);
            font-size: rem(14);
            color: var(--color-black);
            padding-inline: 2%;
            background-color: var(--color-gray-40);
            font-weight: 500;
            outline: none;

            &.checkbox-input {
                width: rem(20);
                height: rem(20);
                background-color: var(--color-gray-40) !important;
                border: rem(1) solid var(--color-gray-50);
                border-radius: rem(10);

            }


            &-row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-content: center;
                gap: rem(40);

                &.checks-row {
                    border-top: rem(1) solid var(--color-gray-50);
                    padding-top: 2%;
                }
            }

            &-container {
                display: flex;
                flex-direction: column;
                gap: rem(5);
                width: 100%;
                
                &.horizontalized {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        &-label {
            font-weight: 600;
            font-size: rem(14);

            &.delivery-label {
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            &-main-container {
                display: flex;
                align-items: center;
                gap: rem(7);
            }
        }

        &-delivery-info-logo {
            display: flex;
            align-items: center;
            gap: rem(5);
        }

        &-delivery-description {
            display: flex;
            align-items: center;
            gap: rem(5);
        }

        &-delivery-info {
            display: flex;
            flex-direction: column;
            gap: rem(5);
        }

        &-custom-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: rem(14);
            font-weight: 500;
            gap: rem(5);
            position: relative;
            user-select: none;

            &-input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            &-checkmark {
                width: rem(20);
                height: rem(20);
                background-color: var(--color-gray-40);
                border: rem(2) solid var(--color-gray-50);
                border-radius: rem(5);
                transition: all 0.2s ease;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: rem(5);
                    top: rem(2);
                    width: rem(5);
                    height: rem(10);
                    border: rem(1) solid var(--color-light);
                    border-width: 0 rem(2) rem(2) 0;
                    transform: rotate(45deg);
                    color: var(--color-light);
                }
            }
        }

        &-options-container {
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }

        &-delivery-methods {
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }

        &-delivery-method {
            font-weight: 500;
            border: rem(1) solid var(--color-gray-50);
            border-radius: rem(10);
            padding: 1%;
            transition: all 0.2s ease;

            &.active {
                background-color: var(--color-gray-40);
            }

            &:hover {
                border-color: var(--color-pink-10);
            }
        }
    }
}

.checkout__form-custom-checkbox-input:checked ~ .checkout__form-custom-checkbox-checkmark {
    background-color: var(--color-pink-10);
    border-color: var(--color-pink-10);
}

.checkout__form-custom-checkbox-input:checked ~ .checkout__form-custom-checkbox-checkmark::after {
    display: block;
}

.special-label {
    display: none;
}

.separator {
    min-width: rem(3);
    min-height: rem(3);
    max-width: rem(5);
    max-height: rem(5);
    border-radius: rem(50);
    background-color: var(--color-black);
}