@use "../helpers" as *;

.contacts-modal {
    font-size: rem(14);
    position: absolute;
    background-color: var(--color-light);
    border: rem(1) solid var(--color-black);
    border-radius: rem(10);
    padding: rem(15);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: rem(5);
    left: -20%;
    top: 100%;
    width: rem(250);

    &__header {
        display: flex;
        flex-direction: column;
        gap: rem(3);
    }

    &__phone-link {
        font-size: rem(18);
        color: var(--color-gray-10);
        font-weight: 600;

        &:hover {
            color: var(--color-blue-10);
            text-decoration: underline;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: rem(2);
        color: var(--color-gray-10);
        font-weight: 500;
    }

    &__text {
        font-size: rem(14);
        font-weight: 500;

        &.bold-text {
            color: var(--color-black);
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: rem(8);
    }

    &__social {
        display: flex;
        align-items: center;
        gap: rem(7);
        border: rem(2) solid var(--color-gray-50);
        width: 100%;
        flex: 1;
        border-radius: rem(10);
        padding: 3% 2%;
        width: 125%;
        font-weight: 500;

        &:hover {
            background-color: var(--color-gray-50);
        }
    }
}