@use '../helpers' as *;

.delivery-terms {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: rem(3);

  &__row {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    border-bottom: rem(1) solid var(--color-gray-50);
    padding-block: 4%;
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    transition: all 0.2s ease;

    &.hidden-body {
      @include visually-hidden;
    }
  }

  &__delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .delivery-cell {
      max-width: 50%;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    gap: rem(3);
    font-weight: 500;

    & img {
      transition: all 0.3s ease;
    }

    & .rotated-img {
      rotate: 180deg;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__price {
    color: var(--color-gray-30);
    font-weight: 600;
  }

  &__additional {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: rem(5);
  }

  &__seller-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
