@use "../helpers" as *;

.header {
    display: flex;
    padding-block: 1%;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 1009;
    padding-inline: 2%;
    padding-block: 1%;
    gap: rem(5);
    background-color: var(--color-light);
    -webkit-box-shadow: -2px 3px 12px 2px rgba(0,0,0,0.34); 
    box-shadow: -2px 3px 12px 2px rgba(0,0,0,0.34);

    @include tablet {
        grid-template-columns: 30% 30% 30%;
        gap: 0;
    }

    &__section {
        display: flex;
        align-items: center;

        &-relative {
            position: relative;
        }
    }

    &__first-section {
        align-items: center;
        gap: 5%;
        width: 25%;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 15%;
        }
    }

    & #burger {
        border: none;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22%;
        background-color: transparent
    }

    &__logo {
        width: fluid(150, 100);

        &-hidden {
            margin-right: 10%;
            @include tablet-above {
                @include visually-hidden;    
            }
           
        }

        @include tablet {
            @include visually-hidden
        }
    }

    &__center-section {
        display: flex;
        align-self: center;
        gap: 3%;
        padding-inline: 0;
        width: 50%;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 140%;
        }

        & .header__search-icon {
            position: absolute;
            left: 3.5%;
            top: 30%;
            width: fluid(20, 15);
            filter: invert(5%);

            @include mobile {
                @include visually-hidden;
            }
        }
        
        & .header__search-button {
            @include fluid-text(14, 12);
            border: none;
            height: rem(50);
            font-weight: 500;
            position: absolute;
            right: 0;
            padding-inline: 4%;
            border-radius: 0 rem(10) rem(10) 0;
            background-color: var(--color-blue-10);
            color: var(--color-light);
            outline: none;

            &:hover {
                background-color: var(--color-blue-accent);
            }

            @include tablet {
                @include visually-hidden;
            }

        }
    }

    &__categories-btn {
        @include fluid-text(12, 14);
        font-weight: 600;
        display: flex;
        gap: rem(10);
        align-items: center;
        background-color: var(--color-blue-10);
        color: var(--color-light);
        border: none;
        padding-block: 1.5%;
        padding-inline: 4%;
        border-radius: rem(10);
        text-align: center;
        justify-content: center;
        transition: all 0.3s ease;

        & img {
            @include laptop {
                @include visually-hidden;
            }
        }

        &:hover {
            opacity: 0.8;
        }

        @include tablet {
            height: rem(50);
            justify-content: center;
            align-items: center;
        }

        @include mobile {
            @include visually-hidden;
        }
    }

    &__icon {
        &.menu {
            filter: invert(100%);
            width: rem(18);
            width: fluid(18, 14);

            @include laptop {
                @include visually-hidden;
            }
        }
    }

    &__search-container {
        position: relative;
        width: 60%;

        @include tablet {
            flex: 1;
        }

        @include mobile {
            flex: 1;
        }


        & input {
            @include fluid-text(14, 12);
            font-weight: 500;
            color: var(--color-gray-30);
            width: 100%;
            border: rem(1) solid var(--color-black);
            background-color: var(--color-light);
            height: rem(50);
            border-radius: rem(10);
            padding-inline: 10%;

            @include tablet {
                flex: 1;
            }
        }
    }

    &__right-section {
        display: flex;
        align-items: center;
        gap: 5%;
        width: 25%;

        @include tablet {
            width: 50%;
            justify-content: end;
        }

        @include mobile {
            @include visually-hidden;
        }
    }

    &__icon-menu {
        width: rem(15);
        filter: invert(1);
    }

    &__section-info-text {
        @include fluid-text(14, 12);
        font-weight: 500;
        display: flex;
        cursor: pointer;

        & .row {
            display: flex;
            align-items: center;
            gap: rem(5);
        }

        @include tablet {
            @include visually-hidden;
        }
    }

    &__icons-row {
        display: flex;
        gap: 25%;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        color: var(--color-gray-10);
    }

    &__link {
        @include fluid-text(16, 14);
        display: flex;
        align-items: center;
        gap: 4%;
        cursor: pointer;

        &.cart-link {
            position: relative;
        }

        &-icon {
            width: fluid(20, 15);
            cursor: pointer;
            max-width: none !important;

            @include laptop {
                width: fluid(25, 20);
            }

        }

        &-text {
            @include laptop {
                @include visually-hidden;
            }
        }
    }

    &__cart-items-count {
        position: absolute;
        background-color: var(--color-pink-10);
        width: rem(16);
        height: rem(16);
        border-radius: rem(50);
        font-weight: 500;
        font-size: rem(12);
        color: var(--color-light);
        justify-content: center;
        text-align: center;
        left: 60%;
        top: -40%;
    }
}
