@use "../helpers" as *;

.history-modal {
    &__content {
        width: 29%;
        height: auto;
        background-color: var(--color-light);
        position: absolute;
        top: 11% !important; 
        left: 36% !important;
        transform: none !important;
        overflow: hidden;
        border-radius: rem(10);
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: rem(1) solid var(--color-gray-40);
        padding: 2% 4%;

        &.search-row {
            justify-content: start;
            gap: 2%;

            & img {
                width: rem(16);
                height: rem(16);
            }
        }
    }

    &__text {
        font-size: rem(14);
        font-weight: 500;
    }

    &__btn {
        background-color: transparent;
        border: none;
        font-size: rem(14);
        font-weight: 500;
        color: var(--color-gray-30);
    }
}