@use "../helpers" as *;

.hobby-categories {
    &__container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2%;
        align-items: start;
        position: relative;
    }

    &__category {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }
    

    &__image-container {
        background-color: var(--color-light);
        padding: 7%;
        border-radius: rem(5);
        display: flex;
        align-items: center;
        gap: 2%;
    }

    &__image {
        object-fit: contain;
        max-width: rem(70);
        max-height: rem(70);
    }

    &__title {
        font-size: rem(16);
        font-weight: 600;
        color: var(--color-gray-30);
    }

}

.extended-container {
    position: relative;
    width: 100%;
    margin: 0;

    &__viewport {
        overflow: hidden;
        width: 100%;
    }

    &__track {
        display: flex;
        gap: rem(24);
        transition: transform 0.6s ease-in-out;
    }

    &__item {
        flex: 0 0 rem(120);
        z-index: 1;
    }

    & .slider-btn {
        top: 17% !important;
        z-index: 100;

        &.prev-btn {
            left: 2.5%;
        }

        &.next-btn {
            left: 95%;
        }
    }
}