@use "../helpers" as *;

.hobby-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: rem(5);
    position: static;

    &__main-content {
        display: flex;
        align-items: start;
        gap: 3%;
    }
}