@use '../helpers' as *;

.letters {
  font-size: rem(16);
  width: 100%;
  background-color: var(--color-light);
  display: grid;
  padding-block: 1%;
  padding-inline: 2%;
  row-gap: rem(5);
  grid-template-columns: repeat(29, 1fr);
  border-radius: rem(10);
  font-weight: 500;
  column-gap: rem(1);

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: rem(5);

    @include mobile-above {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(20);

    @include mobile {
      font-size: rem(12);
      font-weight: 600;
    }
  }

  &__container {
    width: 100%;
    display: grid;
    padding-block: 1%;
    padding-inline: 2%;
    row-gap: rem(5);
    grid-template-columns: repeat(27, 1fr);
    column-gap: rem(1);

    @include laptop {
      grid-template-columns: repeat(21, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(18, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(14, 1fr);
    }

    @include mobile-s {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  @include laptop {
    font-size: rem(14);
  }

  &__letter-link {
    padding: 0%;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border-radius: rem(50);
    object-fit: contain;
    width: rem(30);
    height: rem(30);
    padding-top: rem(4);
    transition: all 0.3s ease;

    &.is-active {
      background-color: var(--color-blue-10);
      color: var(--color-light);

      &:hover {
        background-color: var(--color-blue-10);
      }
    }

    &:hover {
      background-color: var(--color-gray-40);
    }
  }
}
