@use "../helpers" as *;

.login-modal {
    &__content {
        @include abs-center;

        font-size: rem(14);
        background-color: var(--color-light);
        width: 35%;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        justify-content: center;
        text-align: center;
        padding-inline: 7%;
        padding-block: 1%;

        &.register-content {
            height: 95%;
            overflow-y: auto;
            padding-top: 15%;
        }
    }

    &__close {
        right: 2%;
        top: 2%;
        position: absolute;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in;
        border-radius: rem(50);

        &:hover {
            background-color: var(--color-gray-40);
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: rem(5);

        &.register {
            margin-top: 5%;
            gap: 0;
            & p {
                font-weight: 500;
            }
        }
    }

    &__user-icon-container {
        @include abs-x;

        background-color: var(--color-pink-10);
        align-self: self-start;
        justify-content: center;
        margin-top: 4%;
        width: rem(35);
        height: rem(35);
        cursor: pointer;
        border-radius: rem(50);
        position: relative;

        & img {
            @include abs-center;
            width: rem(15);
            height: rem(15);
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: rem(2);
        font-weight: 500;
        margin-top: 2%;

        & p {
            color: var(--color-gray-10);
        }
    }

    &__welcome {
        @include fluid-text(16, 14);
        color: var(--color-black) !important;
    }

    &__login-with {
        display: flex;
        gap: rem(8);
        background-color: var(--color-gray-40);
        border: none;
        align-items: center;
        justify-content: center;
        padding-block: 3.5%;
        font-weight: 500;
        border-radius: rem(10);
    }

    &__additional-info {
        @include fluid-text(14, 12);

        margin-top: 5%;
        font-weight: 500;
    }

    &__link-span {
        color: var(--color-blue-10);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}