@use "../helpers" as *;

.main-container {
    width: 100%;
    padding-top: 2%;
    padding-inline: 2%;

    &__top {
        display: flex;
        gap: 1%;
        padding-inline: var(--container-padding-x);
        padding-bottom: 5%;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        width: 85%;
        padding-bottom: 5%;

        @include laptop {
            width: 100%;
            flex: 1;
            margin-left: -15%;
        }
    }
}