@use "../helpers" as *;

.main-header {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    background-color: transparent;
    scrollbar-color: var(--color-gray-20) transparent;
    
    &::-webkit-scrollbar-button {
        background-color: red;
    }

    &__title {
        color: var(--color-blue-20);
        font-weight: 700;
        letter-spacing: .01em;
    }

    &__items {
        width: 95%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1%;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: thin;
        padding-bottom: 1%;
    }

    &__link {
        flex-shrink: 0;
        background-color: var(--color-light);
        border-radius: rem(10);
        padding: 0.75%;
        font-weight: 600;
        color: var(--color-black);
        padding-inline: 2%;
        border: rem(1) solid var(--color-pink-10);

        &.is-active {
            background-color: var(--color-pink-10);
            color: var(--color-light);
        }
    }

    &__point {
        @include fluid-text(14, 12);
        white-space: nowrap;

        &.is-active {
            color: var(--color-light);
        }

        &.skeleton-item {
            height: rem(50);
            width: rem(200);
            background-color: var(--color-gray-50);
            border-radius: rem(10);
            animation: pulse 1.5s ease-in-out infinite;
            margin: rem(4) 0;
        }
    }
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  