@use "../helpers" as *;

.promotions {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    padding-inline: 2%;
    padding-block: 1%;

    & h4 {
        @include fluid-text(20, 16);
    }

    &__content {
        display: flex;
        gap: 3%;
    }

    &__left {
        width: 15%;
    }

    &__right {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
        row-gap: 3%;
        padding-bottom: 3%;
    }

    &__promo-card {
        background-color: var(--color-light);
        border-radius: rem(5);
        padding: 3%;
        font-size: rem(14);
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__promo-image {
        border-radius: rem(5);
        width: 100%;

        &.skeleton-image {
            width: 100%;
            height: rem(250);
            background-color: var(--color-gray-40);
            animation: pulse 1.5s infinite ease-in-out;
        }
    }

    &__text-container {
        font-size: rem(14);
        display: flex;
        flex-direction: column;
        gap: rem(5);
    }

    &__title {
        font-size: rem(14);
        font-weight: 600;

        &.skeleton-title {
            width: rem(200);
            height: rem(25);
            background-color: var(--color-gray-40);
            animation: pulse 1.5s infinite ease-in-out;
        }
    }

    &__desc {
        font-weight: 500;

        &.skeleton-desc {
            width: 100%;
            height: rem(50);
            background-color: var(--color-gray-40);
            animation: pulse 1.5s infinite ease-in-out;
        }
    }

    &__date {
        color: var(--color-gray-20);
        font-weight: 500;

        &.skeleton-date {
            width: rem(200);
            height: rem(25);
            background-color: var(--color-gray-40);
            animation: pulse 1.5s infinite ease-in-out;
        }
    }
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
