@use '../helpers' as *;

.product-bonuses {
  display: flex;
  align-items: center;
  gap: rem(5);
  border: rem(2) solid var(--color-gray-50);
  border-radius: rem(50);
  padding: 1% 2%;

  &__bonuses-count {
    font-weight: 600;
  }
}
