@use '../helpers/' as *;

.product-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-light);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: rem(14);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    align-items: center;
    gap: rem(10);
    width: 50%;
    font-weight: 500;
  }

  &__row {
    display: flex;
    align-items: center;
  }


  &__buy-btn {
    border-radius: rem(10);
    border: none;
    display: flex;
    gap: rem(3);
    align-items: center;
    color: var(--color-light);
    font-weight: 600;
    padding-block: 4%;
    width: rem(180);
    justify-content: center;
    text-align: center;
    transition: all var(--transition-duration) ease;
    max-width: 100%;

    & img {
      filter: invert(1);
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
