@use '../helpers' as *;

.product-card {
  height: rem(440);
  flex-direction: column;
  position: relative;
  padding: rem(5);
  padding-inline: 1%;
  z-index: 1;
  padding-top: 3%;
  border-right: rem(1) solid var(--color-gray-50);
  border-bottom: rem(1) solid var(--color-gray-50);
  margin-bottom: 2%;
  overflow: hidden;
  height: rem(580);


  &__header {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
    top: -10%;
    height: rem(50);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  & .badge {
    font-size: rem(12);
    font-weight: 600;
    color: var(--color-blue-10);
    padding: 4%;
    border-radius: rem(7);
  }

  & .product-badge-span {
    font-size: rem(12);
    padding: 3%;
    padding-inline: rem(5);
    width: rem(50);
    font-weight: 500;
    border-radius: rem(5) 0 rem(5) 0;
    color: var(--color-light);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(5);
  }

  &__image-container {
    height: rem(300);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    width: rem(250);
    height: rem(300);
    object-fit: contain;

    &.ebook-image {
      border-radius: rem(20);
      -webkit-box-shadow: 4px 8px 7px 4px rgba(0,0,0,0.67); 
      box-shadow: 4px 8px 7px 4px rgba(0,0,0,0.67);
    }
  }

  &__badges-container {
    height: rem(30);
    display: inline-flex;
    align-items: center;
    gap: 3%;
    margin-top: 2%;
  }

  &__title {
    font-size: rem(16);
    font-weight: 600;
  }

  &__brand,
  &__title {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
  }

  &__brand {
    font-size: rem(14);
    font-weight: 500;
    color: var(--color-gray-10);
  }

  &__price-container {
    font-size: rem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__default-price {
    font-size: rem(26);
    font-weight: 600;
  }

  &__in-cart {
    background-color: var(--color-pink-10);
    border: none;
    padding: rem(10);
    padding-inline: rem(15);
    border-radius: rem(15);

    & img {
      filter: invert(1);
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 5%;
    font-weight: 600;
  }

  & .red-price {
    color: var(--color-red-10);
  }

  & .cancelled-price {
    color: var(--color-gray-30);
    font-weight: 500;
    text-decoration: line-through;
  }

  & .blue-price {
    font-size: rem(16);
    color: var(--color-blue-10);
    font-weight: 600;
  }

  &__bonuses {
    display: flex;
    align-items: center;
    gap: rem(5);
    font-size: rem(14);
    font-weight: 600;
  }

  &__delivery-badge {
    font-size: rem(14);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: rem(5);
    padding-inline: rem(7);
    border-radius: rem(5);
    color: var(--color-gray-20);
    border: rem(2) solid var(--color-gray-20);
    width: max-content;
    margin-top: 2%;
  }
}
