@use '../helpers' as *;

.product-container {
  background-color: var(--color-light);
  display: flex;
  gap: 2%;
  padding: 2%;

  &__center-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    font-size: rem(14);

    &-title {
      font-weight: 600;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: rem(15);
    }
  }

  &__category {
    border: rem(1) solid var(--color-gray-30);
    padding: 0.8%;
    border-radius: rem(5);
    color: var(--color-gray-30);
    font-weight: 500;
  }

  &__product-description {
    font-size: rem(14);
    font-weight: 500;
  }

  &__right-part {
    width: 25%;
  }
}
