@use "../helpers" as *;

.settings {
    &-content {
        left: 100% !important;
        top: 0;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: rem(5);
        background-color: var(--color-light);
        width: rem(350);
        flex: 1;
        height: 100vh;
        //justify-content: space-between;
    }

    &-header {
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        gap: rem(30);
        padding-block: 4%;
        padding-inline: 5%;
        width: 100%;
        justify-content: start;
        text-align: left;

        &__profile-left {
            display: flex;
            align-items: center;
            gap: rem(10);
        }

        &__edit-icon {
            background-color: var(--color-gray-50);
            border-radius: rem(50);
            object-fit: contain;
            padding: 3%;
        }

        &__tiles-block {
            display: flex;
            border: rem(1) solid var(--color-gray-50);
            border-radius: rem(10);
            gap: 2%;
            font-size: rem(14);
            width: 100%;
            padding: 2%;
            padding-block: 4%;
            align-items: center;
            font-weight: 500;
            margin-top: 5%;
        }

        &__tile {
            display: flex;
            flex-direction: column;
            gap: rem(5);
            justify-content: center;
            text-align: center;
            width: 50%;
            position: relative;

            &-header {
                display: flex;
                margin: auto;
                align-items: center;
                gap: rem(5)
            }

            &-title {
                font-size: rem(18);
            }

            &-info {
                text-decoration: underline dotted var(--color-gray-30);
                text-underline-offset: rem(4);
                color: var(--color-gray-30);
            }

            &:last-child {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7%;
                    bottom: 7%;
                    width: rem(1);
                    background-color: var(--color-gray-50);

                }
            }
        }

        &__title {
            text-align: left;
            width: 100%;
            font-weight: 500;
        }

        &__profile-info {
            display: flex;
            align-items: center;
            gap: rem(20);
            width: 100%;
            font-size: rem(14);
            justify-content: space-between;
        }

        &__user-btn {
            background-color: var(--color-pink-10);
            border: none;
            border-radius: rem(50);
            padding: rem(10);

            & img {
                width: rem(15);
                height: rem(15);
            }
        }

        &__profile-main-info {
            display: flex;
            flex-direction: column;
            gap: rem(2);
        }

        &__username {
            font-weight: 500;
        }

        &__user_phone {
            color: var(--color-gray-30);
            font-size: rem(14);
            font-weight: 500;
        }
    }

    &__close {
        position: absolute;
        top: 1%;
        right: 2%;
    }

    &-body {
        background-color: var(--color-light);
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        font-size: rem(14);
        font-weight: 500;
        padding-block: 4%;
    }

    &-point {
        display: flex;
        align-items: center;
        padding-inline: 5%;
        padding-block: 4%;
        border-radius: rem(5);
        transition: all 0.2s ease-in-out;

        &.active-point {
            background-color: var(--color-gray-40);
        }

        &:hover {
            background-color: var(--color-gray-40);

            & .settings__icon-wrapper{
                background-color: var(--color-pink-10);

                & img {
                    filter: brightness(0) invert(1);
                }
            };
        }
    }

    &-link {
        display: flex;
        align-items: center;
        gap: rem(15);
    }

    &__icon-wrapper {
        padding: rem(10);
        background-color: #FCEDF8;
        border-radius: rem(50);
        transition: all 0.2s ease-in-out;

        & img {
            transition: all 0.2s ease-in-out;
        }
    }

    &-footer {
        background-color: var(--color-light);
        padding-inline: 4%;
        padding-block: 6%;
        font-size: rem(14);
        width: 100%;

        &-second {
            font-size: rem(14);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: rem(2);
        }

        &__title {
            font-size: rem(14);
            font-weight: 500;
            color: var(--color-gray-30)
        }

        &__link {
            font-size: rem(20);
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }

        &__btn-container {
            background-color: var(--color-blue-10);
            color: var(--color-light);
            padding: 4%;
            font-weight: 500;
            font-size: rem(16);
            border-radius: rem(10);
            padding-inline: 7%;
            transform: all 0.3s ease;

            &:hover {
                opacity: 0.8;;
            }
        }
    }

    &__additional-info {
        font-weight: 500;
        color: var(--color-gray-30);
    }

    &__phone-link {
        font-size: rem(18);
        font-weight: 500;
    }
}