@use '../helpers' as *;

.publishing-header {
  background-color: var(--color-light);
  border-radius: rem(10);
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &__title {
    font-weight: 600;
  }

  &__section {
    .right-section {
      display: flex;
      flex-direction: column;
      gap: rem(30);
    }
  }

  &__show-more {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: rem(2);
    font-size: rem(14);
    font-weight: 500;
    color: var(--color-gray-30);
    padding: 0;
  }

  &__text {
    margin-bottom: 1%;
    font-size: rem(16);
    font-weight: 500;
  }

  &__container {
    display: grid;
    grid-template-columns: 20% 75%;
    width: 100%;
    gap: 1rem;
    align-items: start;
  }

  &__description {
    font-size: rem(14);
    font-weight: 500;
  }

  &__view-more {
    background-color: transparent;
    display: flex;
    font-size: rem(14);
    border: none;
    margin-top: rem(10);
    margin-left: 0;
    align-items: center;
    font-weight: 500;
    color: var(--color-gray-30);
  }

  &__rotated-img {
    transform: rotate(180deg);
  }
}
