@use "../helpers" as *;

.search-container {
    padding: 1% 3%;
    display: flex; 
    flex-direction: column;
    gap: 2%;

    &__header {
        background-color: var(--color-light);
        border-radius: rem(10);
        padding: 1% 2%;
        display: flex;
        flex-direction: column;
        gap: 1%;

        &-first-row {
            display: flex;
            align-items: center;
            gap: 0.5%;
        }

        &-search-res-row {
            padding: 1% 0 !important;
        }
    }

    &__books-content {
        display: flex;
        align-items: start;
        margin-top: 1%;
    }

    &__title {
        font-weight: 600;
    }

    &__search-count {
        color: var(--color-gray-30);
        font-weight: 500;
    }

    &__left {
        width: 10% !important;
    }
}