@use "../helpers" as *;

.status {
    font-weight: 700;
    border: rem(2) solid var(--color-pink-10);
    border-radius: rem(50);
    width: rem(80);
    padding-block: 2%;

    &.pink-status {
        color: var(--color-pink-10);
    }

    &.blue-status {
        border-color: var(--color-blue-10);
        color: var(--color-blue-10);
    }

    &.green-status {
        border-color: var(--color-green-10);
        color: var(--color-green-10);
    }

    &.purple-status {
        border-color: var(--color-purple-10);
        color: var(--color-purple-10);
    }
}