@use "../helpers" as *;

.stars {
    @include fluid-text(18, 14);
    display: flex;
    align-items: center;
    gap: rem(1);
    color: var(--color-pink-10);
    font-weight: 600;

    &.smaller {
        font-size: rem(14);
        
        & img {
            width: rem(12);
        }
    }
}