@use "../helpers" as *;

.subcategory {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    padding: 2%;

    &__header-title {
        font-weight: 600;
        color: var(--color-black);
    }

    &__container {
        width: 100%;
        display: flex;
        align-items: start;
    }
}