@use "../helpers" as *;

.profile-btn {
    padding: rem(7);
    border-radius: rem(50);
    background-color: var(--color-pink-10);
    color: var(--color-light);
    text-align: center;
    cursor: pointer;
    font-size: rem(15);

    &__user {
        text-align: center;
    }
}