@use "../helpers" as *;

.wishlists {
    padding: 2%;
    gap: 3%;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    &__container {
        display: flex;
        align-items: start;
        gap: 3%;
    }

    &__section {
        width: 50%;
        
        &.left-section {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }

        &.right-section {
            text-align: center;
            width: 70%;
            background-color: var(--color-light);
            border-radius: rem(10);
            display: flex;  
            flex-direction: column;
            gap: rem(5);
            padding: 1%;
        }
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
    }

    &__create-btn {
        background-color: var(--color-blue-10);
        color: var(--color-light);
        font-weight: 500;
        font-size: rem(14);
        padding: 1%;
        border-radius: rem(10);
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__wishlist-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(10);
        font-size: rem(14);
        justify-content: start;
        text-align: left;
    }

    & .wishlist {
        width: 100%;
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        border-radius: rem(10);
        border: rem(1) solid var(--color-gray-50);

        &__header {
            padding: 1% 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            color: var(--color-gray-30);
            font-weight: 500;
        }

        &__no-text {
            color: var(--color-gray-30);
            font-weight: 500;
        }

        &__buttons-row {
            display: flex;
            align-items: center;
            gap: 7%;
        }

        &__button {
            background-color: var(--color-gray-50);
            border: none;
            padding: rem(10);
            border-radius: rem(50);

            &.up-btn {
                background-color: transparent;

                &.rotated {
                    & img {
                        transform: rotate(180deg);
                    }   
                }
            }

        }

        &__body {
            padding: 1.5% 2%;
            border-top: rem(1) solid var(--color-gray-50);
        }
    }

    &__sidebar {
        background-color: var(--color-light);
        justify-content: center;
        padding: 7%;
        border-radius: rem(10);
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__whishlist {
        font-size: rem(14);
        font-weight: 500;
        background-color: var(--color-gray-40);
        padding: 4%;
        border-radius: rem(7);
        color: var(--color-gray-20);
        border: rem(1) solid var(--color-gray-50);
    }

    &__create-wishlist-ul {
        width: 100%;
        border: none;
        border-radius: rem(7);
        padding-block: 4%;
        color: var(--color-light);
        font-weight: 500;
        font-size: rem(14);
        transition: all 0.3s ease;
        background-color: var(--color-blue-10);

        &:hover {
            background-color: var(--color-blue-accent);
        }
    }

    &__title {
        @include fluid-text(18, 16);
        font-weight: 500;
    }

    &__title-section {
        text-align: left;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: rem(5);
    }

    &__description {
        font-weight: 500;
        font-size: rem(14);
    }

    & .blue-btn {
        background-color: var(--color-blue-10);
        border: none;
        color: var(--color-light);
        font-weight: 500;
        font-size: rem(14);
        padding-inline: 8%;
        margin: 0 auto;
        border-radius: rem(10);
        margin-top: 2%;
        padding-block: 1.5%;
        align-self: start;
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--color-blue-accent);
        }
    }
}