@use 'normalize';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/header';
@use './blocks/main-container';
@use './blocks/sidebar';
@use './blocks/main-header';
@use './blocks/banner';
@use './blocks/books-container';
@use './blocks/badge';
@use './blocks/book-info-badge';
@use './blocks/stars';
@use './blocks/add-info';
@use './blocks/footer';
@use './blocks/contacts-modal';
@use './blocks/chat-btn';
@use './blocks/chat-options';
@use './blocks/breadcrumbs';
@use './blocks/author';
@use './blocks/author-header';
@use './blocks/fact';
@use './blocks/filters';
@use './blocks/author-books';
@use './blocks/menu';
@use './blocks/cart-modal';
@use './blocks/book-categories';
@use './blocks/loading';
@use './blocks/subcategories';
@use './blocks/promotions';
@use './blocks/promo-sidebar';
@use './blocks/promo-page';
@use './blocks/login-modal';
@use './blocks/separator';
@use './blocks/login-form';
@use './blocks/flash-message';
@use './blocks/code-confirmation-modal';
@use './blocks/user-profile-btn';
@use './blocks/profile-settings';
@use './blocks/user-data';
@use './blocks/my-account-page';
@use './blocks/none-badge';
@use './blocks/delivery';
@use './blocks/wishlists';
@use './blocks/wishlist-modal';
@use './blocks/bonuses';
@use './blocks/orders';
@use './blocks/waiting-page';
@use './blocks/board-games';
@use './blocks/game-category';
@use './blocks/games-container';
@use './blocks/product-container';
@use './blocks/product-card';
@use './blocks/category-description';
@use './blocks/pay-by-parts';
@use './blocks/buy-btn';
@use './blocks/advertisment';
@use './blocks/delivery-terms';
@use './blocks/product-features';
@use './blocks/product-main-info';
@use './blocks/product-format';
@use './blocks/review';
@use './blocks/container-photo';
@use './blocks/container-info';
@use './blocks/product-bonuses';
@use './blocks/board-delivery';
@use './blocks/text-reviews';
@use './blocks/text-review';
@use './blocks/product-info-modal';
@use './blocks/product-images';
@use './blocks/delivery-modal';
@use './blocks/publishers';
@use './blocks/publshers_sidebar';
@use './blocks/letters';
@use './blocks/search';
@use './blocks/data-container';
@use './blocks/publisher';
@use './blocks/publishing-header';
@use './blocks/book-container';
@use './blocks/tile';
@use './blocks/write-review-btn';
@use './blocks/collection-block';
@use './blocks/collection-badge';
@use './blocks/hobby-categories';
@use './blocks/hobby-container';
@use './blocks/hobby-page';
@use './blocks/hobby';
@use './blocks/notify-btn';
@use './blocks/subcategory';
@use './blocks/not-found-page';
@use './blocks/top-badge';
@use './blocks/gift-categories';
@use './blocks/knowledge';
@use './blocks/knowledge-sidebar';
@use './blocks/seria';
@use './blocks/add-to-wishlist';
@use './blocks/status-badge';
@use './blocks/bonus-history-row';
@use './blocks/order-container';
@use './blocks/library';
@use './blocks/other-options';
@use './blocks/mobile-app';
@use './blocks/download-file';
@use './blocks/book-category';
@use './blocks/bonuses-info';
@use './blocks/cart-info';